input {
	font-family:arial;
	font-size:14px;
	font-weight:bold;
}

#fileName {
	color: white;
	font-family:arial;
	font-size:10px;
	padding:0 0;
	margin-top: -9px;
	margin-bottom: -2px;
} 
 
#hotKey {
	background-color: blue;
	display: block;
	}
    
button {
	background-color:#44c767;
	border-radius:5px;
	margin: 0;
	display:inline-block;
	color:#000;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	padding:2px 4px;
	text-decoration:none;
}
button:hover {
	background-color:#5cbf2a;
}
button:active {
	position:relative;
	top:1px;
}
  
body {
	background-color: black;
}
table, td, tr {
	background-color: lightblue;
	border-collapse: collapse;
	border: 1px solid black;
	border-spacing: 0;
	font-family: tahoma, sans-serif;
	padding: 0;
}

#list {
	font-size: 1.7em;
}

#row2_col2 {
	background-color: black;
}
     
    .ace_editor {
        position: relative !important;
        border: 0;
        margin: 0;
        height: 1200px;
        width: 99%;
    }

    .ace_editor.fullScreen {
        height: auto;
        width: auto;
        border: 0;
        margin: 0;
        position: fixed !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: white;
    }

    .fullScreen {
        overflow: hidden
    }

    .scrollmargin {
        height: 10px;
        text-align: center;
    }
	
  